body[data-theme='dark'] {
  --colors-bg: hsl(207, 26%, 17%);
  --colors-text: hsl(0, 0%, 100%);
}

body[data-theme='light'] {
  --colors-bg: hsl(0, 0%, 98%);
  --colors-text: hsl(200, 15%, 8%);
}

a[data-theme='dark'] {
  --colors-text: hsl(0, 0%, 100%);
}

a[data-theme='light'] {
  --colors-text: hsl(200, 15%, 8%);
}

body {
  background-color: var(--colors-bg);
  color: var(--colors-text);
}

a {
  color: var(--colors-text);
}